@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 overflow-x-hidden
}

@layer utilities {
    .animation-delay-1500 {
        animation-delay: 1.5s;
    }

    .animation-delay-2300 {
        animation-delay: 2.3s;
    }

    .animation-delay-3000 {
        animation-delay: 3s;
    }
}

.items {
    @apply text-xl
}

.wave ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    animation: an 0.5s linear infinite;
    background-image: url('./wave.jpg');
}

@keyframes an {
    0% {
        background-position-x: 0;

    }

    100% {
        background-position-x: 100px;
    }
}

/* button {
    text-transform: uppercase;
    letter-spacing: 8px;
    background-color: blue;
} */
/* 
button::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    width: 40px;
    height: 40px;
    /* background-color: blue; */

/* inset: 0; */
/* transition: all 0.5s; */
/* border-top: 4px solid red; */
/* border-left: 4px solid red; */
/* } */

/* button::after {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 40px;
    height: 40px;
    /* background-color: blue; */

/* inset: 0; */
/* transition: all 0.5s;
    border-bottom: 4px solid red;
    border-right: 4px solid red; */
/* } */

/* button:hover::before {
    width: 100%;
    height: 100%;
}

button:hover::after {
    width: 100%;
    height: 100%; */
/* }  */

.main {
    clip-path: circle(40% at 100% 0);
    /* clip-path: polygon(79% 5%, 22% 33%, 82% 48%, 13% 93%); */
    /* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 83% 50%); */
    transition: 1s ease-in-out;

}

.main:hover {
    clip-path: circle(142% at 100% 0);
    /* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 83% 50%); */
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 46%); */
    /* clip-path: polygon(100% 0, 0 0, 0 100%); */

}

.items {
    @apply border-2 bg-white p-0.5;
}

.blocki {
    @apply cursor-pointer rounded-full bg-gradient-to-tr from-yellow-500 to-violet-500 p-1;
}

.text {
    @apply text-gray-700;
}

.cont img {
    transform-origin: center;
    transform: perspective(800px) rotateY(20deg);
    opacity: 0.5;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #000f);
}

.cont img:hover {
    transform: perspective(500px) rotateY(0deg);
    opacity: 1;

}

.crush {
    letter-spacing: -10px;
    /* border: 2px solid red; */
    transition: 1s;
}

.crush:hover {
    letter-spacing: 10px;
    animation: borderr 2s infinite ease-in-out alternate-reverse;
    transition: 1s ease-in-out;
    padding: 10px;
}

@keyframes borderr {
    from {
        border: 2px solid red;
        border-radius: 100px;
    }

    to {
        border: 20px solid red;

    }
}


.crush::before {
    content: "";
    position: absolute;
    width: 20%;
    /* border: 2px solid red; */

}

.crush::after {
    content: "";
    position: absolute;
    width: 20%;
    bottom: 0;
    border: 2px solid red;

}

.grids {
    display: grid;
    grid-template-rows: repeat(2, 200px);
    /* fr- fractional unit */
    /* grid-template-columns: 1fr 1fr 1fr 1fr ; */
    /* grid-template-columns: minmax(200px,250px) repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    /* repeat 3 times -1fr */
    /* border: 2px solid red; */
    gap: 20px;
    /* grid auto rows add 200px niche jitne bhi rows hoge */
    grid-auto-rows: 200px;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-items: center; */

    @apply p-10
}

.div2 {
    /* 1/-1 , -1 means it will cover till end  */
    /* grid-column: 1/ -1; */

    /* grid-column: 1/ span 4; */
}

.div5 {
    /* grid-row-start: 1;
    grid-row-end:2 ; */
    /* 1 pe start ,2 pe khatam */
    /* grid-row: 1/2; */
    /* grid-column-start: 2;
    grid-column-end:5 ; */
    /* grid-column: 2/5; */
    color: aqua;

}

.grad {
    animation: changebg 10s linear infinite alternate-reverse;
}

@keyframes changebg {

    /* from{
        background-color: red;
    }
    to{
        background-color: yellow;
    } */
    0% {
        background-color: red;
    }

    20% {
        background-color: orange;
    }

    40% {
        background-color: blue;
    }

    60% {
        background-color: purple;
    }

    80% {
        background-color: violet;
    }

    100% {
        background-color: pink;
    }
}

.unlist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unlist li {
    padding: 8px 15px;
    /* border: 2px solid yellow; */
    margin: 0 20px;
    position: relative;
}

.unlist li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-top: 2px solid yellow;
    border-left: 2px solid yellow;
    transition: 1s;

}

.unlist li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    right: 0%;
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
    transition: 1s;

}

.unlist li:hover:after,
.unlist li:hover:before {
    content: '';
    position: absolute;
    width: 10%;
    height: 10%;
    transform: rotate(360deg);
    transform-origin: left;
    bottom: 0%;
    right: 0%;
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;

}

.dropdown {
    color: rgb(241, 216, 185);
    font-size: 2rem;
    /* border: 1px solid rgb(241, 216, 185); */
    border-radius: 30px;
    padding: 1rem 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.dropdown::after {
    position: absolute;
    content: '>';
    transform: rotate(90deg);
    right: 0.3rem;
    top: 25%;
    /* border: 2px solid; */
    color: rgb(241, 216, 185);
}

.dropdown:hover {
    background-color: rgb(39, 36, 32);
}

.itemss {
    color: #09111a;
    font-size: 1.5rem;
    border-radius: 10%;
    padding: 1rem 2.4rem;
    background-color: rgb(241, 216, 185);
    /* translate: 0px -50px; */
    /* display: none; */

}

.dropdown:active {
    border: 2px solid salmon;
}

.dropdown:focus {
    border: 2px solid salmon;
}

.item {
    cursor: pointer;
}


/* crush btn start */
.mainbody {
    height: 100vh;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.crushbtn {
    font-size: 2rem;
    overflow: hidden;
    letter-spacing: .3rem;
    border-radius: 1.5rem;
    padding: 0.7rem 2.4rem;
    text-shadow: 0 0 3px #ff6e6e;
    transition: 0.7s;
    position: relative;
    color: red;
    cursor: pointer;
    z-index: 2;
}

.heart1 svg {
    position: absolute;
    left: 4.5rem;
    top: 1.8rem;
    opacity: 0;
    z-index: -1;
    fill: red;
    stroke: none;
    transition: 0.7s;
    width: 2rem;
    height: 2rem;
    animation: move1 4s ease-in-out infinite alternate-reverse;
}



.heart2 svg {
    position: absolute;
    left: 1rem;
    opacity: 0;
    top: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: red;
    stroke: none;
    animation: move2 5s ease infinite alternate-reverse;

}

.heart3 svg {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    opacity: 0;
    width: 1.4rem;
    height: 1.4rem;
    fill: red;
    stroke: none;
    z-index: -1;
    animation: move3 5s ease infinite alternate-reverse;
}

@keyframes move1 {
    0% {
        top: 2.8rem;
    }

    50% {
        top: 4rem;
    }

    100% {
        top: 2.8rem;
    }
}

@keyframes move2 {
    0% {
        top: 0.3rem;
    }

    50% {
        top: 1.5rem;
    }

    100% {
        top: 0.3rem;
    }
}

@keyframes move3 {
    0% {
        top: 0.5rem;
    }

    50% {
        top: 1.6rem;
    }

    100% {
        top: 0.5rem;
    }
}

.crushbtn:hover .heart1 svg,
.crushbtn:hover .heart2 svg,
.crushbtn:hover .heart3 svg {
    opacity: 1;
    filter: drop-shadow(0 0 10px #ff6e6e)
}

.crushbtn:hover {
    color: red;
    box-shadow: 0 0 10px inset #ff6e6e;
    scale: 105%;
}

.imgg {
    background-image: url('https://images.pexels.com/photos/9405799/pexels-photo-9405799.jpeg?auto=compress&cs=tinysrgb&w=400') ;
    width: auto;
    height: 740px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    /* background-attachment: local; */
}
.imgg2 {
    background-image: url('https://images.pexels.com/photos/14823055/pexels-photo-14823055.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load') ;
    /* width: auto; */
    /* height: 700px; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    /* background-attachment: local; */
}
.imgg3 {
    background-image: linear-gradient(-30deg,red,blue,green,violet,yellow,orange) ;
    /* opacity: 0.6; */
    /* width: auto; */
    /* height: 700px; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    /* background-attachment: local; */
}
.fimg{
    @apply w-1/3 h-3/4 object-cover rounded-2xl shadow-2xl cursor-pointer hover:w-full transition-all duration-500 ease-in-out
}